.login-container{
    width: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}

// ion-item{
//     // border-radius: 25px;
//     height: 42px;
//     border: 1px solid transparent;
//     border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
// }